{
  "pid": "com.tibco.bw.stat.appnode.13921182-f3a7-42ac-b9db-c4d1b55de4dd",
  "properties": {
    "name": {
      "name": "name",
      "value": "Main",
      "type": "java.lang.String"
    },
    "service.factoryPid": {
      "name": "service.factoryPid",
      "value": "com.tibco.bw.stat.appnode",
      "type": "java.lang.String"
    },
    "service.pid": {
      "name": "service.pid",
      "value": "com.tibco.bw.stat.appnode.13921182-f3a7-42ac-b9db-c4d1b55de4dd",
      "type": "java.lang.String"
    }
  }
}